<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Annotation and Testing</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        Final Project: Image Annotation and Detection
    </header>
    <main>
        <form action="/" method="POST" enctype="multipart/form-data">
            <h2>Upload an image to analyze</h2>
            <input type="file" name="image" accept="image/*" required>
            <button type="submit">Analyze the Image</button>
        </form>
        {% if image_url %}
        <div class="image-preview">
            <h3>Imported Image</h3>
            <img src="{{ image_url }}" alt="Image téléchargée">
        </div>
        {% endif %}
    </main>
</body>
</html>
